body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(176,129,149,1) 29%, rgba(154,113,130,1) 52%, rgba(119,87,101,1) 71%, rgba(0,0,0,1) 100%);
}

h1 {
  margin:0;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

h4, h2 {
  color: white;
}

img{
  width: 100%;
}

.container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.shapes-container {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Három egyforma szélességű oszlop */
  gap: 15px; /* Távolság az oszlopok között */
}

.shape{
  cursor: move;
  border: 1px solid black;
}

.main{
  margin: 50px;
}

.table {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 2px dashed #000000;
  margin: auto;
}

.table > div {
  width: 50px; /* Egy cella 5 pixel széles */
  height: 50px; /* Egy cella 5 pixel magas */
  border: 1px solid #ccc; /* Szürke keret a cellákhoz */
  background-color: white;
}

#congratsMessage{
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25%;
  font-size: 36px;
  font-weight: bold;
  color: rgb(0, 88, 0);
}

#congratsMessage button {
  width: 200px;
  margin: 0;
}